<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>60</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_VW</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>30</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>30</integer>
		<key>@MMK_R_guileft</key>
		<integer>-10</integer>
		<key>@MMK_R_guiright</key>
		<integer>10</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>40</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-80</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>-40</integer>
		<key>@MMK_R_roundslc</key>
		<integer>15</integer>
		<key>@MMK_R_s</key>
		<integer>15</integer>
		<key>@MMK_R_straightslc</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_vw</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>25</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
		<key>@MMK_R_z</key>
		<integer>30</integer>
		<key>onesuperior</key>
		<integer>-60</integer>
		<key>semicolon</key>
		<integer>20</integer>
		<key>twosuperior</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_S</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>5</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_VW</key>
		<integer>15</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>20</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>25</integer>
		<key>@MMK_R_s</key>
		<integer>20</integer>
		<key>@MMK_R_straightslc</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_vw</key>
		<integer>15</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>15</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>30</integer>
		<key>hyphen</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>15</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>10</integer>
		<key>@MMK_R_S</key>
		<integer>15</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>@MMK_R_VW</key>
		<integer>5</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_j</key>
		<integer>5</integer>
		<key>@MMK_R_roundslc</key>
		<integer>5</integer>
		<key>@MMK_R_s</key>
		<integer>5</integer>
		<key>@MMK_R_straightslc</key>
		<integer>5</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_vw</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>25</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_guileft</key>
		<integer>-10</integer>
		<key>@MMK_R_guiright</key>
		<integer>20</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>5</integer>
		<key>@MMK_R_straightslc</key>
		<integer>10</integer>
		<key>@MMK_R_vw</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>15</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_guileft</key>
		<integer>-20</integer>
		<key>@MMK_R_guiright</key>
		<integer>10</integer>
		<key>@MMK_R_j</key>
		<integer>25</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>25</integer>
		<key>@MMK_R_roundslc</key>
		<integer>5</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_straightslc</key>
		<integer>25</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>5</integer>
		<key>backslash</key>
		<integer>85</integer>
		<key>semicolon</key>
		<integer>20</integer>
		<key>slash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>@MMK_R_VW</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>20</integer>
		<key>@MMK_R_j</key>
		<integer>5</integer>
		<key>@MMK_R_roundslc</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>10</integer>
		<key>@MMK_R_straightslc</key>
		<integer>5</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_vw</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-45</integer>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_VW</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>-35</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_vw</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-110</integer>
		<key>onesuperior</key>
		<integer>-50</integer>
		<key>twosuperior</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>50</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_U</key>
		<integer>-5</integer>
		<key>@MMK_R_VW</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>15</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_guileft</key>
		<integer>-20</integer>
		<key>@MMK_R_guiright</key>
		<integer>40</integer>
		<key>@MMK_R_period</key>
		<integer>25</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-75</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>-85</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-5</integer>
		<key>@MMK_R_s</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_vw</key>
		<integer>-55</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-150</integer>
		<key>onesuperior</key>
		<integer>-80</integer>
		<key>twosuperior</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_RoundsUC</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>15</integer>
		<key>@MMK_R_j</key>
		<integer>5</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>40</integer>
		<key>@MMK_R_roundslc</key>
		<integer>5</integer>
		<key>@MMK_R_straightslc</key>
		<integer>5</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_vw</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>15</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>65</integer>
		<key>onesuperior</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>-70</integer>
		<key>twosuperior</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_Q</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>165</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-20</integer>
		<key>@MMK_R_VW</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-15</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>-20</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-5</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-5</integer>
		<key>onesuperior</key>
		<integer>-30</integer>
		<key>twosuperior</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_RoundsUC</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_j</key>
		<integer>15</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>25</integer>
		<key>@MMK_R_straightslc</key>
		<integer>15</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_vw</key>
		<integer>30</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
		<key>@MMK_R_z</key>
		<integer>25</integer>
		<key>slash</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_AE</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>30</integer>
		<key>@MMK_R_g</key>
		<integer>15</integer>
		<key>@MMK_R_j</key>
		<integer>5</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>25</integer>
		<key>@MMK_R_roundslc</key>
		<integer>15</integer>
		<key>@MMK_R_straightslc</key>
		<integer>5</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_vw</key>
		<integer>5</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>5</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>backslash</key>
		<integer>30</integer>
		<key>twosuperior</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_AE</key>
		<integer>-160</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>15</integer>
		<key>@MMK_R_Y</key>
		<integer>15</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_guileft</key>
		<integer>-100</integer>
		<key>@MMK_R_guiright</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>10</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>35</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_vw</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>backslash</key>
		<integer>80</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-150</integer>
		<key>onesuperior</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>slash</key>
		<integer>-95</integer>
		<key>twosuperior</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>backslash</key>
		<integer>10</integer>
		<key>slash</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_VW</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
		<key>@MMK_R_AE</key>
		<integer>-85</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_guileft</key>
		<integer>-35</integer>
		<key>@MMK_R_guiright</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-95</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>20</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>45</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_vw</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>60</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_straightslc</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_vw</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>40</integer>
		<key>endash</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-90</integer>
		<key>semicolon</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_AE</key>
		<integer>-120</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-65</integer>
		<key>@MMK_R_guileft</key>
		<integer>-80</integer>
		<key>@MMK_R_guiright</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-140</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>30</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_vw</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>backslash</key>
		<integer>65</integer>
		<key>endash</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-120</integer>
		<key>semicolon</key>
		<integer>-35</integer>
		<key>slash</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_VW</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>15</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_guileft</key>
		<integer>-20</integer>
		<key>@MMK_R_guiright</key>
		<integer>15</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>25</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_vw</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>backslash</key>
		<integer>55</integer>
		<key>endash</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>18</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_guileft</key>
		<integer>-12</integer>
		<key>@MMK_R_guiright</key>
		<integer>15</integer>
		<key>@MMK_R_j</key>
		<integer>5</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-12</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>-12</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_vw</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>endash</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>onesuperior</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>10</integer>
		<key>slash</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>15</integer>
		<key>@MMK_R_s</key>
		<integer>15</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>-5</integer>
		<key>@MMK_R_guiright</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_guileft</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>70</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_vw</key>
		<integer>25</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>25</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>100</integer>
		<key>slash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>15</integer>
		<key>@MMK_R_j</key>
		<integer>50</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_vw</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>50</integer>
		<key>slash</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_guileft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_VW</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>30</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_vw</key>
		<integer>15</integer>
		<key>@MMK_R_x</key>
		<integer>25</integer>
		<key>@MMK_R_y</key>
		<integer>25</integer>
		<key>@MMK_R_z</key>
		<integer>40</integer>
		<key>eight</key>
		<integer>45</integer>
		<key>five</key>
		<integer>50</integer>
		<key>four</key>
		<integer>30</integer>
		<key>nine</key>
		<integer>25</integer>
		<key>seven</key>
		<integer>80</integer>
		<key>six</key>
		<integer>60</integer>
		<key>three</key>
		<integer>50</integer>
		<key>two</key>
		<integer>60</integer>
		<key>zero</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_guiright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_VW</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_vw</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-25</integer>
		<key>eight</key>
		<integer>10</integer>
		<key>four</key>
		<integer>30</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>20</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_vw</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>5</integer>
		<key>endash</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_VW</key>
		<integer>-95</integer>
		<key>@MMK_R_Y</key>
		<integer>-140</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-90</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_vw</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_quotebottom</key>
	<dict>
		<key>@MMK_R_quotetopleft</key>
		<integer>-80</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_quotelefttop</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-5</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>50</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_VW</key>
		<integer>35</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>35</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_vw</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>eight</key>
		<integer>-5</integer>
		<key>five</key>
		<integer>6</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>45</integer>
		<key>six</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_quoterighttop</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_quotebottom</key>
		<integer>-90</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-85</integer>
		<key>@MMK_R_s</key>
		<integer>-65</integer>
		<key>@MMK_R_t</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>eight</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>-5</integer>
		<key>four</key>
		<integer>-115</integer>
		<key>nine</key>
		<integer>-5</integer>
		<key>one</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>10</integer>
		<key>six</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_vw</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>60</integer>
		<key>onesuperior</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_roundslc</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>15</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>10</integer>
		<key>@MMK_R_vw</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>40</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>25</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>5</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>15</integer>
		<key>@MMK_R_roundslc</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>5</integer>
		<key>@MMK_R_vw</key>
		<integer>5</integer>
		<key>@MMK_R_y</key>
		<integer>5</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_straightslc</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>8</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_guileft</key>
		<integer>-40</integer>
		<key>@MMK_R_guiright</key>
		<integer>15</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_vw</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>60</integer>
		<key>endash</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_vw</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_guileft</key>
		<integer>-10</integer>
		<key>@MMK_R_guiright</key>
		<integer>15</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>25</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>25</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-5</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_vw</key>
		<integer>30</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>backslash</key>
		<integer>30</integer>
		<key>hyphen</key>
		<integer>-5</integer>
		<key>onesuperior</key>
		<integer>20</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_guiright</key>
		<integer>25</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>10</integer>
		<key>@MMK_R_roundslc</key>
		<integer>-5</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_vw</key>
		<integer>15</integer>
		<key>@MMK_R_x</key>
		<integer>25</integer>
		<key>@MMK_R_y</key>
		<integer>15</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>onesuperior</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>5</integer>
		<key>slash</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_guileft</key>
		<integer>-20</integer>
		<key>@MMK_R_guiright</key>
		<integer>35</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>15</integer>
		<key>@MMK_R_s</key>
		<integer>5</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_vw</key>
		<integer>15</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>15</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>10</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>125</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_VW</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_j</key>
		<integer>40</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>10</integer>
		<key>@MMK_R_guiright</key>
		<integer>45</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>10</integer>
		<key>endash</key>
		<integer>75</integer>
		<key>hyphen</key>
		<integer>55</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>@MMK_R_RoundsUC</key>
		<integer>50</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>15</integer>
		<key>@MMK_R_s</key>
		<integer>5</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
		<key>eight</key>
		<integer>75</integer>
		<key>five</key>
		<integer>60</integer>
		<key>four</key>
		<integer>85</integer>
		<key>nine</key>
		<integer>50</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>82</integer>
		<key>zero</key>
		<integer>90</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>10</integer>
		<key>@MMK_R_guiright</key>
		<integer>65</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>30</integer>
		<key>@MMK_R_trademarks</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>55</integer>
		<key>hyphen</key>
		<integer>65</integer>
		<key>semicolon</key>
		<integer>10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>50</integer>
		<key>@MMK_R_guiright</key>
		<integer>40</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-20</integer>
		<key>@MMK_R_trademarks</key>
		<integer>-10</integer>
		<key>endash</key>
		<integer>70</integer>
		<key>hyphen</key>
		<integer>80</integer>
		<key>semicolon</key>
		<integer>-5</integer>
		<key>slash</key>
		<integer>10</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>@MMK_R_RoundsUC</key>
		<integer>35</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-150</integer>
		<key>@MMK_R_VW</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-120</integer>
		<key>@MMK_R_Z</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>15</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_vw</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>eight</key>
		<integer>55</integer>
		<key>five</key>
		<integer>40</integer>
		<key>four</key>
		<integer>65</integer>
		<key>nine</key>
		<integer>30</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>57</integer>
		<key>three</key>
		<integer>10</integer>
		<key>two</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>65</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>20</integer>
		<key>@MMK_R_guiright</key>
		<integer>20</integer>
		<key>@MMK_R_trademarks</key>
		<integer>10</integer>
		<key>endash</key>
		<integer>30</integer>
		<key>hyphen</key>
		<integer>50</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>-10</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>-75</integer>
		<key>@MMK_R_trademarks</key>
		<integer>-90</integer>
		<key>endash</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
	</dict>
	<key>onesuperior</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_j</key>
		<integer>40</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>five</key>
		<integer>10</integer>
		<key>four</key>
		<integer>-5</integer>
		<key>one</key>
		<integer>-30</integer>
		<key>six</key>
		<integer>-5</integer>
		<key>two</key>
		<integer>-10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>-80</integer>
		<key>@MMK_R_guiright</key>
		<integer>-30</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>20</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>50</integer>
		<key>@MMK_R_trademarks</key>
		<integer>15</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>slash</key>
		<integer>-100</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>15</integer>
		<key>@MMK_R_guiright</key>
		<integer>55</integer>
		<key>@MMK_R_trademarks</key>
		<integer>5</integer>
		<key>endash</key>
		<integer>50</integer>
		<key>hyphen</key>
		<integer>50</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_RoundsUC</key>
		<integer>30</integer>
		<key>@MMK_R_S</key>
		<integer>15</integer>
		<key>@MMK_R_T</key>
		<integer>60</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_VW</key>
		<integer>60</integer>
		<key>@MMK_R_X</key>
		<integer>50</integer>
		<key>@MMK_R_Y</key>
		<integer>60</integer>
		<key>@MMK_R_Z</key>
		<integer>30</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_vw</key>
		<integer>50</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>50</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>eight</key>
		<integer>35</integer>
		<key>five</key>
		<integer>30</integer>
		<key>nine</key>
		<integer>30</integer>
		<key>seven</key>
		<integer>130</integer>
		<key>six</key>
		<integer>20</integer>
		<key>three</key>
		<integer>40</integer>
		<key>two</key>
		<integer>60</integer>
		<key>zero</key>
		<integer>50</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>@MMK_R_guiright</key>
		<integer>40</integer>
		<key>endash</key>
		<integer>42</integer>
		<key>hyphen</key>
		<integer>50</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>-5</integer>
		<key>@MMK_R_guiright</key>
		<integer>40</integer>
		<key>hyphen</key>
		<integer>20</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>10</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>@MMK_R_guileft</key>
		<integer>30</integer>
		<key>@MMK_R_guiright</key>
		<integer>50</integer>
		<key>@MMK_R_quotetopleft</key>
		<integer>20</integer>
		<key>@MMK_R_quotetopright</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>90</integer>
		<key>hyphen</key>
		<integer>65</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
