<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>DEL</key>
	<string>D_E_L_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>J_circumflex.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.cap</key>
	<string>acute.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breve.cap</key>
	<string>breve.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.cap</key>
	<string>caron.cap.glif</string>
	<key>caronSlovak</key>
	<string>caronS_lovak.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.bold</key>
	<string>cent.bold.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.cap</key>
	<string>circumflex.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.cap</key>
	<string>dieresis.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.bold</key>
	<string>dollar.bold.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent.cap</key>
	<string>dotaccent.cap.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.superior</key>
	<string>four.superior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.cap</key>
	<string>grave.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlaut.cap</key>
	<string>hungarumlaut.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.cap</key>
	<string>macron.cap.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.cap</key>
	<string>ring.cap.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.copy_one</key>
	<string>space.copy_one.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.cap</key>
	<string>tilde.cap.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B2</key>
	<string>uni00B_2.glif</string>
	<key>uni00B3</key>
	<string>uni00B_3.glif</string>
	<key>uni00B9</key>
	<string>uni00B_9.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni0237</key>
	<string>uni0237.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni0326.alt</key>
	<string>uni0326.alt.glif</string>
	<key>uni0901</key>
	<string>uni0901.glif</string>
	<key>uni0902</key>
	<string>uni0902.glif</string>
	<key>uni0903</key>
	<string>uni0903.glif</string>
	<key>uni0904</key>
	<string>uni0904.glif</string>
	<key>uni0905</key>
	<string>uni0905.glif</string>
	<key>uni0906</key>
	<string>uni0906.glif</string>
	<key>uni0907</key>
	<string>uni0907.glif</string>
	<key>uni0908</key>
	<string>uni0908.glif</string>
	<key>uni09080902</key>
	<string>uni09080902.glif</string>
	<key>uni0909</key>
	<string>uni0909.glif</string>
	<key>uni090A</key>
	<string>uni090A_.glif</string>
	<key>uni090B</key>
	<string>uni090B_.glif</string>
	<key>uni090C</key>
	<string>uni090C_.glif</string>
	<key>uni090D</key>
	<string>uni090D_.glif</string>
	<key>uni090E</key>
	<string>uni090E_.glif</string>
	<key>uni090F</key>
	<string>uni090F_.glif</string>
	<key>uni0910</key>
	<string>uni0910.glif</string>
	<key>uni0911</key>
	<string>uni0911.glif</string>
	<key>uni0912</key>
	<string>uni0912.glif</string>
	<key>uni0913</key>
	<string>uni0913.glif</string>
	<key>uni0914</key>
	<string>uni0914.glif</string>
	<key>uni0915</key>
	<string>uni0915.glif</string>
	<key>uni0915094D</key>
	<string>uni0915094D_.glif</string>
	<key>uni0915094D0072</key>
	<string>uni0915094D_0072.glif</string>
	<key>uni0915094D0915</key>
	<string>uni0915094D_0915.glif</string>
	<key>uni0915094D0924</key>
	<string>uni0915094D_0924.glif</string>
	<key>uni0915094D0930</key>
	<string>uni0915094D_0930.glif</string>
	<key>uni0915094D0930.loclNEP</key>
	<string>uni0915094D_0930.loclN_E_P_.glif</string>
	<key>uni0915094D0932</key>
	<string>uni0915094D_0932.glif</string>
	<key>uni0915094D0935</key>
	<string>uni0915094D_0935.glif</string>
	<key>uni0915094D0937</key>
	<string>uni0915094D_0937.glif</string>
	<key>uni0915094D0937094D</key>
	<string>uni0915094D_0937094D_.glif</string>
	<key>uni0915094D0937094D0930</key>
	<string>uni0915094D_0937094D_0930.glif</string>
	<key>uni0916</key>
	<string>uni0916.glif</string>
	<key>uni0916094D</key>
	<string>uni0916094D_.glif</string>
	<key>uni0916094D0072</key>
	<string>uni0916094D_0072.glif</string>
	<key>uni0916094D0930</key>
	<string>uni0916094D_0930.glif</string>
	<key>uni0917</key>
	<string>uni0917.glif</string>
	<key>uni0917094D</key>
	<string>uni0917094D_.glif</string>
	<key>uni0917094D0072</key>
	<string>uni0917094D_0072.glif</string>
	<key>uni0917094D0928</key>
	<string>uni0917094D_0928.glif</string>
	<key>uni0917094D0930</key>
	<string>uni0917094D_0930.glif</string>
	<key>uni0918</key>
	<string>uni0918.glif</string>
	<key>uni0918094D</key>
	<string>uni0918094D_.glif</string>
	<key>uni0918094D0072</key>
	<string>uni0918094D_0072.glif</string>
	<key>uni0918094D0928</key>
	<string>uni0918094D_0928.glif</string>
	<key>uni0918094D0930</key>
	<string>uni0918094D_0930.glif</string>
	<key>uni0919</key>
	<string>uni0919.glif</string>
	<key>uni0919094D</key>
	<string>uni0919094D_.glif</string>
	<key>uni0919094D0915</key>
	<string>uni0919094D_0915.glif</string>
	<key>uni0919094D0915094D</key>
	<string>uni0919094D_0915094D_.glif</string>
	<key>uni0919094D0915094D0937</key>
	<string>uni0919094D_0915094D_0937.glif</string>
	<key>uni0919094D0916</key>
	<string>uni0919094D_0916.glif</string>
	<key>uni0919094D0917</key>
	<string>uni0919094D_0917.glif</string>
	<key>uni0919094D0918</key>
	<string>uni0919094D_0918.glif</string>
	<key>uni0919094D092E</key>
	<string>uni0919094D_092E_.glif</string>
	<key>uni0919094D0930</key>
	<string>uni0919094D_0930.glif</string>
	<key>uni091A</key>
	<string>uni091A_.glif</string>
	<key>uni091A094D</key>
	<string>uni091A_094D_.glif</string>
	<key>uni091A094D091A</key>
	<string>uni091A_094D_091A_.glif</string>
	<key>uni091A094D091B</key>
	<string>uni091A_094D_091B_.glif</string>
	<key>uni091A094D0930</key>
	<string>uni091A_094D_0930.glif</string>
	<key>uni091B</key>
	<string>uni091B_.glif</string>
	<key>uni091B094D</key>
	<string>uni091B_094D_.glif</string>
	<key>uni091B094D0930</key>
	<string>uni091B_094D_0930.glif</string>
	<key>uni091B094D0935</key>
	<string>uni091B_094D_0935.glif</string>
	<key>uni091C</key>
	<string>uni091C_.glif</string>
	<key>uni091C094D</key>
	<string>uni091C_094D_.glif</string>
	<key>uni091C094D091C</key>
	<string>uni091C_094D_091C_.glif</string>
	<key>uni091C094D091C094D</key>
	<string>uni091C_094D_091C_094D_.glif</string>
	<key>uni091C094D091E</key>
	<string>uni091C_094D_091E_.glif</string>
	<key>uni091C094D091E.akhn</key>
	<string>uni091C_094D_091E_.akhn.glif</string>
	<key>uni091C094D091E094D</key>
	<string>uni091C_094D_091E_094D_.glif</string>
	<key>uni091C094D091E094D0930</key>
	<string>uni091C_094D_091E_094D_0930.glif</string>
	<key>uni091C094D0930</key>
	<string>uni091C_094D_0930.glif</string>
	<key>uni091D</key>
	<string>uni091D_.glif</string>
	<key>uni091D.loclNEP</key>
	<string>uni091D_.loclN_E_P_.glif</string>
	<key>uni091D094D</key>
	<string>uni091D_094D_.glif</string>
	<key>uni091D094D.loclNEP</key>
	<string>uni091D_094D_.loclN_E_P_.glif</string>
	<key>uni091D094D0930</key>
	<string>uni091D_094D_0930.glif</string>
	<key>uni091E</key>
	<string>uni091E_.glif</string>
	<key>uni091E094D</key>
	<string>uni091E_094D_.glif</string>
	<key>uni091E094D091A</key>
	<string>uni091E_094D_091A_.glif</string>
	<key>uni091E094D091C</key>
	<string>uni091E_094D_091C_.glif</string>
	<key>uni091E094D0930</key>
	<string>uni091E_094D_0930.glif</string>
	<key>uni091F</key>
	<string>uni091F_.glif</string>
	<key>uni091F094D</key>
	<string>uni091F_094D_.glif</string>
	<key>uni091F094D091F</key>
	<string>uni091F_094D_091F_.glif</string>
	<key>uni091F094D0920</key>
	<string>uni091F_094D_0920.glif</string>
	<key>uni091F094D092F</key>
	<string>uni091F_094D_092F_.glif</string>
	<key>uni091F094D0930</key>
	<string>uni091F_094D_0930.glif</string>
	<key>uni091F094D0935</key>
	<string>uni091F_094D_0935.glif</string>
	<key>uni0920</key>
	<string>uni0920.glif</string>
	<key>uni0920094D</key>
	<string>uni0920094D_.glif</string>
	<key>uni0920094D0072</key>
	<string>uni0920094D_0072.glif</string>
	<key>uni0920094D0920</key>
	<string>uni0920094D_0920.glif</string>
	<key>uni0920094D092F</key>
	<string>uni0920094D_092F_.glif</string>
	<key>uni0920094D0930</key>
	<string>uni0920094D_0930.glif</string>
	<key>uni0921</key>
	<string>uni0921.glif</string>
	<key>uni0921094D</key>
	<string>uni0921094D_.glif</string>
	<key>uni0921094D0072</key>
	<string>uni0921094D_0072.glif</string>
	<key>uni0921094D0921</key>
	<string>uni0921094D_0921.glif</string>
	<key>uni0921094D0922</key>
	<string>uni0921094D_0922.glif</string>
	<key>uni0921094D092F</key>
	<string>uni0921094D_092F_.glif</string>
	<key>uni0921094D0930</key>
	<string>uni0921094D_0930.glif</string>
	<key>uni0922</key>
	<string>uni0922.glif</string>
	<key>uni0922094D</key>
	<string>uni0922094D_.glif</string>
	<key>uni0922094D0072</key>
	<string>uni0922094D_0072.glif</string>
	<key>uni0922094D0922</key>
	<string>uni0922094D_0922.glif</string>
	<key>uni0922094D092F</key>
	<string>uni0922094D_092F_.glif</string>
	<key>uni0922094D0930</key>
	<string>uni0922094D_0930.glif</string>
	<key>uni0923</key>
	<string>uni0923.glif</string>
	<key>uni0923094D</key>
	<string>uni0923094D_.glif</string>
	<key>uni0923094D0930</key>
	<string>uni0923094D_0930.glif</string>
	<key>uni0924</key>
	<string>uni0924.glif</string>
	<key>uni0924094D</key>
	<string>uni0924094D_.glif</string>
	<key>uni0924094D0072</key>
	<string>uni0924094D_0072.glif</string>
	<key>uni0924094D0924</key>
	<string>uni0924094D_0924.glif</string>
	<key>uni0924094D0924094D</key>
	<string>uni0924094D_0924094D_.glif</string>
	<key>uni0924094D092F</key>
	<string>uni0924094D_092F_.glif</string>
	<key>uni0924094D0930</key>
	<string>uni0924094D_0930.glif</string>
	<key>uni0925</key>
	<string>uni0925.glif</string>
	<key>uni0925094D</key>
	<string>uni0925094D_.glif</string>
	<key>uni0925094D0930</key>
	<string>uni0925094D_0930.glif</string>
	<key>uni0926</key>
	<string>uni0926.glif</string>
	<key>uni0926094D</key>
	<string>uni0926094D_.glif</string>
	<key>uni0926094D0917</key>
	<string>uni0926094D_0917.glif</string>
	<key>uni0926094D0918</key>
	<string>uni0926094D_0918.glif</string>
	<key>uni0926094D0926</key>
	<string>uni0926094D_0926.glif</string>
	<key>uni0926094D0927094D0072092F</key>
	<string>uni0926094D_0927094D_0072092F_.glif</string>
	<key>uni0926094D0927094D0930</key>
	<string>uni0926094D_0927094D_0930.glif</string>
	<key>uni0926094D0928</key>
	<string>uni0926094D_0928.glif</string>
	<key>uni0926094D092C</key>
	<string>uni0926094D_092C_.glif</string>
	<key>uni0926094D092D</key>
	<string>uni0926094D_092D_.glif</string>
	<key>uni0926094D092E</key>
	<string>uni0926094D_092E_.glif</string>
	<key>uni0926094D092F</key>
	<string>uni0926094D_092F_.glif</string>
	<key>uni0926094D0930</key>
	<string>uni0926094D_0930.glif</string>
	<key>uni0926094D0935</key>
	<string>uni0926094D_0935.glif</string>
	<key>uni0926094D0943</key>
	<string>uni0926094D_0943.glif</string>
	<key>uni0927</key>
	<string>uni0927.glif</string>
	<key>uni0927094D</key>
	<string>uni0927094D_.glif</string>
	<key>uni0927094D0930</key>
	<string>uni0927094D_0930.glif</string>
	<key>uni0928</key>
	<string>uni0928.glif</string>
	<key>uni0928.post</key>
	<string>uni0928.post.glif</string>
	<key>uni0928094D</key>
	<string>uni0928094D_.glif</string>
	<key>uni0928094D0924094D0930</key>
	<string>uni0928094D_0924094D_0930.glif</string>
	<key>uni0928094D0928</key>
	<string>uni0928094D_0928.glif</string>
	<key>uni0928094D092D</key>
	<string>uni0928094D_092D_.glif</string>
	<key>uni0928094D092E</key>
	<string>uni0928094D_092E_.glif</string>
	<key>uni0928094D0930</key>
	<string>uni0928094D_0930.glif</string>
	<key>uni0929</key>
	<string>uni0929.glif</string>
	<key>uni0929094D</key>
	<string>uni0929094D_.glif</string>
	<key>uni092A</key>
	<string>uni092A_.glif</string>
	<key>uni092A094D</key>
	<string>uni092A_094D_.glif</string>
	<key>uni092A094D0072</key>
	<string>uni092A_094D_0072.glif</string>
	<key>uni092A094D0924</key>
	<string>uni092A_094D_0924.glif</string>
	<key>uni092A094D0930</key>
	<string>uni092A_094D_0930.glif</string>
	<key>uni092A094D0932</key>
	<string>uni092A_094D_0932.glif</string>
	<key>uni092B</key>
	<string>uni092B_.glif</string>
	<key>uni092B094D</key>
	<string>uni092B_094D_.glif</string>
	<key>uni092B094D0930</key>
	<string>uni092B_094D_0930.glif</string>
	<key>uni092B094D0932</key>
	<string>uni092B_094D_0932.glif</string>
	<key>uni092C</key>
	<string>uni092C_.glif</string>
	<key>uni092C094D</key>
	<string>uni092C_094D_.glif</string>
	<key>uni092C094D0930</key>
	<string>uni092C_094D_0930.glif</string>
	<key>uni092D</key>
	<string>uni092D_.glif</string>
	<key>uni092D094D</key>
	<string>uni092D_094D_.glif</string>
	<key>uni092D094D0930</key>
	<string>uni092D_094D_0930.glif</string>
	<key>uni092E</key>
	<string>uni092E_.glif</string>
	<key>uni092E094D</key>
	<string>uni092E_094D_.glif</string>
	<key>uni092E094D0930</key>
	<string>uni092E_094D_0930.glif</string>
	<key>uni092F</key>
	<string>uni092F_.glif</string>
	<key>uni092F.post</key>
	<string>uni092F_.post.glif</string>
	<key>uni092F094D</key>
	<string>uni092F_094D_.glif</string>
	<key>uni092F094D0930</key>
	<string>uni092F_094D_0930.glif</string>
	<key>uni0930</key>
	<string>uni0930.glif</string>
	<key>uni0930.post</key>
	<string>uni0930.post.glif</string>
	<key>uni09300941</key>
	<string>uni09300941.glif</string>
	<key>uni09300942</key>
	<string>uni09300942.glif</string>
	<key>uni0930094D</key>
	<string>uni0930094D_.glif</string>
	<key>uni0930094D.loclMAR</key>
	<string>uni0930094D_.loclM_A_R_.glif</string>
	<key>uni0930094D0902</key>
	<string>uni0930094D_0902.glif</string>
	<key>uni0931</key>
	<string>uni0931.glif</string>
	<key>uni0931094D</key>
	<string>uni0931094D_.glif</string>
	<key>uni0932</key>
	<string>uni0932.glif</string>
	<key>uni0932.loclMAR</key>
	<string>uni0932.loclM_A_R_.glif</string>
	<key>uni0932094D</key>
	<string>uni0932094D_.glif</string>
	<key>uni0932094D.loclMAR</key>
	<string>uni0932094D_.loclM_A_R_.glif</string>
	<key>uni0932094D0930</key>
	<string>uni0932094D_0930.glif</string>
	<key>uni0932094D0932</key>
	<string>uni0932094D_0932.glif</string>
	<key>uni0933</key>
	<string>uni0933.glif</string>
	<key>uni0933094D</key>
	<string>uni0933094D_.glif</string>
	<key>uni0933094D0930</key>
	<string>uni0933094D_0930.glif</string>
	<key>uni0934</key>
	<string>uni0934.glif</string>
	<key>uni0934094D</key>
	<string>uni0934094D_.glif</string>
	<key>uni0935</key>
	<string>uni0935.glif</string>
	<key>uni0935.post</key>
	<string>uni0935.post.glif</string>
	<key>uni0935094D</key>
	<string>uni0935094D_.glif</string>
	<key>uni0935094D0930</key>
	<string>uni0935094D_0930.glif</string>
	<key>uni0936</key>
	<string>uni0936.glif</string>
	<key>uni0936.loclMAR</key>
	<string>uni0936.loclM_A_R_.glif</string>
	<key>uni0936094D</key>
	<string>uni0936094D_.glif</string>
	<key>uni0936094D.loclMAR</key>
	<string>uni0936094D_.loclM_A_R_.glif</string>
	<key>uni0936094D0072</key>
	<string>uni0936094D_0072.glif</string>
	<key>uni0936094D0072091A</key>
	<string>uni0936094D_0072091A_.glif</string>
	<key>uni0936094D00720928</key>
	<string>uni0936094D_00720928.glif</string>
	<key>uni0936094D091A</key>
	<string>uni0936094D_091A_.glif</string>
	<key>uni0936094D0930</key>
	<string>uni0936094D_0930.glif</string>
	<key>uni0936094D0932</key>
	<string>uni0936094D_0932.glif</string>
	<key>uni0936094D0935</key>
	<string>uni0936094D_0935.glif</string>
	<key>uni0936094D0943</key>
	<string>uni0936094D_0943.glif</string>
	<key>uni0937</key>
	<string>uni0937.glif</string>
	<key>uni0937094D</key>
	<string>uni0937094D_.glif</string>
	<key>uni0937094D091F</key>
	<string>uni0937094D_091F_.glif</string>
	<key>uni0937094D091F094D0930</key>
	<string>uni0937094D_091F_094D_0930.glif</string>
	<key>uni0937094D0920</key>
	<string>uni0937094D_0920.glif</string>
	<key>uni0937094D0920094D0930</key>
	<string>uni0937094D_0920094D_0930.glif</string>
	<key>uni0937094D0930</key>
	<string>uni0937094D_0930.glif</string>
	<key>uni0938</key>
	<string>uni0938.glif</string>
	<key>uni0938094D</key>
	<string>uni0938094D_.glif</string>
	<key>uni0938094D0924094D0930</key>
	<string>uni0938094D_0924094D_0930.glif</string>
	<key>uni0938094D0930</key>
	<string>uni0938094D_0930.glif</string>
	<key>uni0939</key>
	<string>uni0939.glif</string>
	<key>uni09390941</key>
	<string>uni09390941.glif</string>
	<key>uni09390942</key>
	<string>uni09390942.glif</string>
	<key>uni09390943</key>
	<string>uni09390943.glif</string>
	<key>uni0939094D</key>
	<string>uni0939094D_.glif</string>
	<key>uni0939094D0923</key>
	<string>uni0939094D_0923.glif</string>
	<key>uni0939094D0928</key>
	<string>uni0939094D_0928.glif</string>
	<key>uni0939094D092E</key>
	<string>uni0939094D_092E_.glif</string>
	<key>uni0939094D092F</key>
	<string>uni0939094D_092F_.glif</string>
	<key>uni0939094D0930</key>
	<string>uni0939094D_0930.glif</string>
	<key>uni0939094D0932</key>
	<string>uni0939094D_0932.glif</string>
	<key>uni0939094D0935</key>
	<string>uni0939094D_0935.glif</string>
	<key>uni093A</key>
	<string>uni093A_.glif</string>
	<key>uni093B</key>
	<string>uni093B_.glif</string>
	<key>uni093C</key>
	<string>uni093C_.glif</string>
	<key>uni093D</key>
	<string>uni093D_.glif</string>
	<key>uni093E</key>
	<string>uni093E_.glif</string>
	<key>uni093F</key>
	<string>uni093F_.glif</string>
	<key>uni093F.0</key>
	<string>uni093F_.0.glif</string>
	<key>uni093F.05</key>
	<string>uni093F_.05.glif</string>
	<key>uni093F.10</key>
	<string>uni093F_.10.glif</string>
	<key>uni093F0902</key>
	<string>uni093F_0902.glif</string>
	<key>uni093F0902.0</key>
	<string>uni093F_0902.0.glif</string>
	<key>uni093F0902.05</key>
	<string>uni093F_0902.05.glif</string>
	<key>uni093F0902.10</key>
	<string>uni093F_0902.10.glif</string>
	<key>uni093F0930094D</key>
	<string>uni093F_0930094D_.glif</string>
	<key>uni093F0930094D.0</key>
	<string>uni093F_0930094D_.0.glif</string>
	<key>uni093F0930094D.05</key>
	<string>uni093F_0930094D_.05.glif</string>
	<key>uni093F0930094D.10</key>
	<string>uni093F_0930094D_.10.glif</string>
	<key>uni093F0930094D0902</key>
	<string>uni093F_0930094D_0902.glif</string>
	<key>uni093F0930094D0902.0</key>
	<string>uni093F_0930094D_0902.0.glif</string>
	<key>uni093F0930094D0902.05</key>
	<string>uni093F_0930094D_0902.05.glif</string>
	<key>uni093F0930094D0902.10</key>
	<string>uni093F_0930094D_0902.10.glif</string>
	<key>uni0940</key>
	<string>uni0940.glif</string>
	<key>uni0940.02</key>
	<string>uni0940.02.glif</string>
	<key>uni09400902</key>
	<string>uni09400902.glif</string>
	<key>uni09400902.02</key>
	<string>uni09400902.02.glif</string>
	<key>uni09400930094D</key>
	<string>uni09400930094D_.glif</string>
	<key>uni09400930094D.02</key>
	<string>uni09400930094D_.02.glif</string>
	<key>uni09400930094D0902</key>
	<string>uni09400930094D_0902.glif</string>
	<key>uni09400930094D0902.02</key>
	<string>uni09400930094D_0902.02.glif</string>
	<key>uni0941</key>
	<string>uni0941.glif</string>
	<key>uni0941.alt</key>
	<string>uni0941.alt.glif</string>
	<key>uni0942</key>
	<string>uni0942.glif</string>
	<key>uni0942.alt</key>
	<string>uni0942.alt.glif</string>
	<key>uni0943</key>
	<string>uni0943.glif</string>
	<key>uni0944</key>
	<string>uni0944.glif</string>
	<key>uni0945</key>
	<string>uni0945.glif</string>
	<key>uni0946</key>
	<string>uni0946.glif</string>
	<key>uni0947</key>
	<string>uni0947.glif</string>
	<key>uni09470902</key>
	<string>uni09470902.glif</string>
	<key>uni09470930094D</key>
	<string>uni09470930094D_.glif</string>
	<key>uni09470930094D0902</key>
	<string>uni09470930094D_0902.glif</string>
	<key>uni0948</key>
	<string>uni0948.glif</string>
	<key>uni09480902</key>
	<string>uni09480902.glif</string>
	<key>uni09480930094D</key>
	<string>uni09480930094D_.glif</string>
	<key>uni09480930094D0902</key>
	<string>uni09480930094D_0902.glif</string>
	<key>uni0949</key>
	<string>uni0949.glif</string>
	<key>uni094A</key>
	<string>uni094A_.glif</string>
	<key>uni094B</key>
	<string>uni094B_.glif</string>
	<key>uni094B0902</key>
	<string>uni094B_0902.glif</string>
	<key>uni094B0930094D</key>
	<string>uni094B_0930094D_.glif</string>
	<key>uni094B0930094D0902</key>
	<string>uni094B_0930094D_0902.glif</string>
	<key>uni094C</key>
	<string>uni094C_.glif</string>
	<key>uni094C0902</key>
	<string>uni094C_0902.glif</string>
	<key>uni094C0930094D</key>
	<string>uni094C_0930094D_.glif</string>
	<key>uni094C0930094D0902</key>
	<string>uni094C_0930094D_0902.glif</string>
	<key>uni094D</key>
	<string>uni094D_.glif</string>
	<key>uni094D0930</key>
	<string>uni094D_0930.glif</string>
	<key>uni094D09300941</key>
	<string>uni094D_09300941.glif</string>
	<key>uni094D09300942</key>
	<string>uni094D_09300942.glif</string>
	<key>uni0950</key>
	<string>uni0950.glif</string>
	<key>uni0951</key>
	<string>uni0951.glif</string>
	<key>uni0952</key>
	<string>uni0952.glif</string>
	<key>uni0953</key>
	<string>uni0953.glif</string>
	<key>uni0954</key>
	<string>uni0954.glif</string>
	<key>uni0956</key>
	<string>uni0956.glif</string>
	<key>uni0957</key>
	<string>uni0957.glif</string>
	<key>uni0958</key>
	<string>uni0958.glif</string>
	<key>uni0958094D</key>
	<string>uni0958094D_.glif</string>
	<key>uni0959</key>
	<string>uni0959.glif</string>
	<key>uni0959094D</key>
	<string>uni0959094D_.glif</string>
	<key>uni095A</key>
	<string>uni095A_.glif</string>
	<key>uni095A094D</key>
	<string>uni095A_094D_.glif</string>
	<key>uni095B</key>
	<string>uni095B_.glif</string>
	<key>uni095B094D</key>
	<string>uni095B_094D_.glif</string>
	<key>uni095C</key>
	<string>uni095C_.glif</string>
	<key>uni095D</key>
	<string>uni095D_.glif</string>
	<key>uni095E</key>
	<string>uni095E_.glif</string>
	<key>uni095E094D</key>
	<string>uni095E_094D_.glif</string>
	<key>uni095E094D0930</key>
	<string>uni095E_094D_0930.glif</string>
	<key>uni095F</key>
	<string>uni095F_.glif</string>
	<key>uni0960</key>
	<string>uni0960.glif</string>
	<key>uni0961</key>
	<string>uni0961.glif</string>
	<key>uni0962</key>
	<string>uni0962.glif</string>
	<key>uni0963</key>
	<string>uni0963.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>uni0966</key>
	<string>uni0966.glif</string>
	<key>uni0967</key>
	<string>uni0967.glif</string>
	<key>uni0968</key>
	<string>uni0968.glif</string>
	<key>uni0969</key>
	<string>uni0969.glif</string>
	<key>uni096A</key>
	<string>uni096A_.glif</string>
	<key>uni096B</key>
	<string>uni096B_.glif</string>
	<key>uni096B.loclNEP</key>
	<string>uni096B_.loclN_E_P_.glif</string>
	<key>uni096C</key>
	<string>uni096C_.glif</string>
	<key>uni096D</key>
	<string>uni096D_.glif</string>
	<key>uni096E</key>
	<string>uni096E_.glif</string>
	<key>uni096E.loclNEP</key>
	<string>uni096E_.loclN_E_P_.glif</string>
	<key>uni096F</key>
	<string>uni096F_.glif</string>
	<key>uni0970</key>
	<string>uni0970.glif</string>
	<key>uni0971</key>
	<string>uni0971.glif</string>
	<key>uni0972</key>
	<string>uni0972.glif</string>
	<key>uni0973</key>
	<string>uni0973.glif</string>
	<key>uni0974</key>
	<string>uni0974.glif</string>
	<key>uni0976</key>
	<string>uni0976.glif</string>
	<key>uni0977</key>
	<string>uni0977.glif</string>
	<key>uni0979</key>
	<string>uni0979.glif</string>
	<key>uni0979.loclNEP</key>
	<string>uni0979.loclN_E_P_.glif</string>
	<key>uni097A</key>
	<string>uni097A_.glif</string>
	<key>uni097B</key>
	<string>uni097B_.glif</string>
	<key>uni097C</key>
	<string>uni097C_.glif</string>
	<key>uni097D</key>
	<string>uni097D_.glif</string>
	<key>uni097E</key>
	<string>uni097E_.glif</string>
	<key>uni097F</key>
	<string>uni097F_.glif</string>
	<key>uni2000</key>
	<string>uni2000.glif</string>
	<key>uni2001</key>
	<string>uni2001.glif</string>
	<key>uni2002</key>
	<string>uni2002.glif</string>
	<key>uni2003</key>
	<string>uni2003.glif</string>
	<key>uni2004</key>
	<string>uni2004.glif</string>
	<key>uni2005</key>
	<string>uni2005.glif</string>
	<key>uni2006</key>
	<string>uni2006.glif</string>
	<key>uni2007</key>
	<string>uni2007.glif</string>
	<key>uni2008</key>
	<string>uni2008.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200A</key>
	<string>uni200A_.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni20B9</key>
	<string>uni20B_9.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.superior</key>
	<string>zero.superior.glif</string>
</dict>
</plist>
